{% load static %}
{% block js %}
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/tw-elements.umd.min.js' %}"></script>
    <script src="{% static 'assets/js/cd-headline.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/scrollIt.min.js' %}"></script>
    <script src="{% static 'assets/js/circle-progress.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
{% endblock js %}